* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section#projects {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 25px;
}

#projects > h1 {
    grid-column: 1 / -1;
    justify-self: start;
    align-self: baseline;
}

.project {
    margin-bottom: 8%;
    min-height: 500px;
    border: 1px solid lightgray;
    display: grid;
    grid-template-rows: 3fr 2fr;
}

.project-screenshot {
    display: flex;
    justify-content: center;
}

.project-screenshot > span {
    padding: 0.5em;
    color: white;
    font-size: 3.5rem;
    text-align: center;
    transform: translateY(0.2em);
}

.project-1 {
    background-color: rgb(112, 112, 236);
}

.project-2 {
    background-color: rgb(231, 110, 130);
}

.project-3 {
    background-color: rgb(70, 124, 70);
}

.project-4 {
    background-color: rgb(184, 27, 27);
}

.project-5 {
    background-color: rgb(122, 26, 122);
}

.project-6 {
    background-color: rgb(219, 99, 29);
}