* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

section#intro {
    background: linear-gradient(150deg, rgb(39, 146, 179) 0%, rgb(11, 135, 167) 40%, white 41%, white 100%);
}

#about {
    margin: 50px;
    background-color: white;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#about > h2 {
    align-self: center;
}

.social-links {
    display: flex;
    gap: 10px;
    align-self: center;
}

#headshot-container {
    max-width: 400px;
    position: relative;
    top: 20px;
    left: 50px;
}

picture > img {
    width: 100%;
}

#headshot-container > h1 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 3rem;
}

.medium-icon {
    width: 30px;
}

h2 {
    font-size: 2.2rem;
}

#projects > h2 {
    grid-column: 1 / -1;
    text-align: center;
}

section#projects {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 25px;
}

#projects > h1 {
    grid-column: 1 / -1;
    justify-self: start;
    align-self: baseline;
}

.project {
    margin-bottom: 8%;
    min-height: 500px;
    border: 1px solid lightgray;
    box-shadow: 2px 5px 10px grey;
    display: grid;
    grid-template-rows: 5fr 1fr 3fr;
}

.project-screenshot {
    display: flex;
    justify-content: center;
}

.project-screenshot > span {
    padding: 0.5em;
    color: white;
    font-size: 3.5em;
    text-align: center;
    transform: translateY(0.2em);
}

.project-1 {
    background-color: rgb(112, 112, 236);
}

.project-2 {
    background-color: rgb(231, 110, 130);
}

.project-3 {
    background-color: rgb(70, 124, 70);
}

.project-4 {
    background-color: rgb(184, 27, 27);
}

.project-5 {
    background-color: rgb(122, 26, 122);
}

.project-6 {
    background-color: rgb(219, 99, 29);
}


.project-header {
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.project-links {
    display: flex;
    align-items: center;
    gap: 20px;
}
.small-icon {
    width: 20px;
}

.project-description {
    padding: 1em;
    font-size: 1.2rem;
}

svg {
    width: 20px;
}